<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>delete</title>
</head>
<body>
<div class="login-box">
<h2>in oeder to delete a flight you need to fill the next form:</h2>
<form action="http://127.0.0.1:5000/deleting.html" method="post"  style="width:200px;margin-left:auto;margin-right:auto;">
    <div class="user-box">
       <input type="text" name="user-id">
        <label>ID</label>
    </div>
    <div class="user-box">
      <input type="text" name="ticket-id">
        <label>Ticket-ID</label>
    </div>
    <div class="user-box">
      <input type="text" name="country-name">
        <label>Country</label>
    </div>
    <button type="submit">submit</button>
</form>
    </div>
</body>
</html>